[Unit]
Description=Restart the USB Hub

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/config-usb

[Install]
WantedBy=multi-user.target
