[Unit]
Description=Configure the firewall of the Valeo charger 
After=config-network.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/config-firewall > /dev/null

[Install]
WantedBy=multi-user.target
