[Unit]
Description=Configure the network of the Valeo charger 
After=NetworkManager

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/config_network.sh

[Install]
WantedBy=multi-user.target
