.button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    height: 10%;
    width: 40%;
      position: absolute;
    top: 40%;
    left: 25%;
  }
  
  .image {
   height: 40%;
   justify-content: center;
  }